@-moz-document
url-prefix("https://xkcd.com/"),
url-prefix("http://xkcd.com/")
{
  body
  {
    background: #161616 !important;
    color: #FAFAFA !important;
  }
  
  img, div[class="self"]
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  
  /*Exceptions*/
  img[alt="Stargazing"], img[alt="Flashlights"], img[alt="Google Maps"], img[alt="Alternative Energy Revolution"]
  {
    filter: invert(0%) !important;
    -webkit-filter: invert(0%) !important;
  }
  
  .box
  {
    background: #000 !important;
  }
  
  #topLeft a
  {
    color: #CCCCCC !important;
  }
  
  ul.comicNav li a
  {
    background: transparent linear-gradient(#3C3C3C, #2E2E2E) repeat scroll 0% 0% !important;
  }
}

@-moz-document
url-prefix("https://imgs.xkcd.com/"),
url-prefix("http://imgs.xkcd.com/")
{
  img
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}