@-moz-document
  
url-prefix("https://mail.google.com/"),
url-prefix("http://mail.google.com/")
{
  /*Specfic Emails*/
  table[bgcolor="#f8f6ea"]
  {
    background: #161616 !important;
  }
  
  table[style="width:100%;background-color:#fdf3c0;border:#bbbab5 2px solid;padding:7px"]
  {
    background: #0A0A0A !important;
  }
  
  td[style="padding-top:0px;vertical-align:top;padding-bottom:0px"]
  {
    background: #0A0A0A !important;
  }
  
  table[style="background-color:#ffffff;padding-left:20px;padding-right:20px;padding-bottom:0px"]
  {
    background: #0A0A0A !important;
  }
  
  div[style="background-color:#ffffff;color:#333;font-size:16px;font-variant:normal;font-weight:normal;font-style:normal;line-height:normal;font-family:Arial,Verdana,Sans-Serif;margin:0;padding:0"]
  {
    background: #0A0A0A !important;
  }
  
  table[style="border-collapse:collapse;border-spacing:0;width:600px;margin:0 auto;font-family:inherit;background:#f1f1f1"], td[style="background:#ffffff;font-size:13px;line-height:1.5em;color:#333333;padding:20px"]
  {
    background: #161616 !important;
  }
  
  div[style="background:#f1f1f1;font-family:'Liberation Sans',Arial,sans-serif"]
  {
    background: #0A0A0A !important;
  }
  
  td[bgcolor="#FFFFFF"]
  {
    background: #0A0A0A !important;
  }
  
  td[style="font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;color:#323232"]
  {
    color: #CCCCCC !important;
  }
  
  li, td[style="padding:20px 0 20px 0;font-size:13px;line-height:1.5em;color:#333333"]
  {
    color: #CCCCCC !important;
  }
  
  table[style="background-color:#e1e8ed;padding:0;margin:0;line-height:1px;font-size:1px"]
  {
    background: #0A0A0A !important;
  }
  
  table[style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px"]
  {
    background: #161616 !important;
  }
  
  td[style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:20px;text-align:left;color:#292f33;padding:0px;margin:0px;font-weight:300;line-height:26px"]
  {
    color: #CCCCCC !important;
  }
  
  a[style="text-decoration:none;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;text-align:left;color:#292f33;padding:0px;margin:0px;line-height:16px"]
  {
    color: #FAFAFA !important;
  }
  
  table[bgcolor="#f0f0f0"]
  {
    background: #0A0A0A !important;
  }
  
  table[bgcolor="#FFFFFF"]
  {
    background: #131313 !important;
  }
  
  td[style="font-family:arial,Arial,sans-serif;font-size:20px;line-height:24px;letter-spacing:0px;font-weight:bold;color:#222222;text-decoration:none"], td[style="font-family:arial,Arial,sans-serif;font-size:20px;line-height:25px;letter-spacing:0px;font-weight:bold;color:#222222"]
  {
    color: #FAFAFA !important;
  }
  
  td[style="color:#999999;font-size:13px;line-height:15px;font-family:arial,Arial,sans-serif;letter-spacing:0px;word-wrap:break-word"], td[style="color:#999999;font-size:13px;line-height:15px;font-family:arial,Arial,sans-serif;letter-spacing:0px;text-decoration:none"]
  {
    color: #CCCCCC !important;
  }
  
  a[style="display:block;font-family:arial,Arial,sans-serif;font-size:12px;font-weight:bold;color:#222222;line-height:15px;letter-spacing:0px;text-decoration:none"], a[style="font-family:arial,Arial,sans-serif;font-size:12px;font-weight:bold;color:#222222;line-height:15px;letter-spacing:0px;text-decoration:none"]
  {
    color: #FAFAFA !important;
  }
  
  a[style="font-family:arial,Arial,sans-serif;font-size:12px;color:#999999;line-height:15px;letter-spacing:0px;text-decoration:none"], a[style="font-family:arial,Arial,sans-serif;font-size:12px;color:#222222;line-height:15px;letter-spacing:0px;text-decoration:none"]
  {
    color: #CCCCCC !important;
  }
  
  table[bgcolor="#fafafa"]
  {
    background: #0A0A0A !important;
  }
  
  span[style="font-family:verdana;color:#000000;font-weight:bold;font-size:1.4em"]
  {
    color: #FAFAFA !important;
  }
  
  div[style="font-family:verdana;color:#000000;font-weight:normal;font-size:0.8em"], span[style="font-family:verdana;color:#000000;font-weight:normal;font-size:0.82em"], div[style="font-family:verdana;color:#000000;font-weight:normal;font-size:0.7em"]
  {
    color: #FAFAFA !important;
  }
  
  td[style="background-color:#e8ebee"]
  {
    background: #161616 !important;
  }
  
  table[style="max-width:700px;width:100%;border:1px solid #d4d3d3;padding:0;margin:0 auto;background-color:#ffffff"], tr[style="background-color:#e8ebee"]
  {
    background: #161616 !important;
  }
  
  div[style="font-family:verdana;color:#000000;font-weight:normal;font-size:0.8em;word-break:break-all;word-wrap:break-word;max-width:329px"]
  {
    color: #FAFAFA !important;
  }
  
  span[style="margin-left:0.1em;font-family:verdana;color:#000000;font-weight:bold;font-size:0.8em"]
  {
    color: #FAFAFA !important;
  }
  
  div[style="font-family:verdana;color:#000000;font-weight:normal;font-size:0.7em;text-align:center;margin:0.3em 0.2em 1em 0.2em"], span[style="margin-left:0.05em;padding-left:0.05em;font-family:verdana;color:#000000;font-weight:bold;font-size:0.8em"]
  {
    color: #FAFAFA !important;
  }
  
  table[style="background-color:#e8ebee;margin:auto;width:80%;max-width:380px"]
  {
    background: #161616 !important;
  }
  
  div[style="font-size:12pt;color:#000000;background-color:#ffffff;font-family:Calibri,Arial,Helvetica,sans-serif"]
  {
    background: #0A0A0A !important;
    color: #FAFAFA !important;
  }
  
  /*Everything  Else*/
  #loading, #stb, .ajA
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  .submit_as_link
  {
    color: #0973BF;
  }
  
  .aaZ, .aDh, .gU, .J-Z, .Xv
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  .vO, .vO:focus, .aoT, .nr
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  .gO, .az2 .J-JN-M-I-Jm, .gQ, .az9, .vT, .oL, .aJS .ao5, .aiv .aq, .J-N-JT .J-N-Jz, .J-N-JW .J-N-Jz, .anQ, .hx, .gD, .ha, .g6, p
  {
    color: #FAFAFA;
  }
  
  .hx .gH, .go, span, .gt a
  {
    color: #CCCCCC;
  }
  
  .Sr, .iY .md, .iY .l6, .iY .l9, .iY .ma, .iY .l8, .iY .mb
  {
    color: #999999;
  }
  
  .aoP .Ar, .Am
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }

  .KA.Kj-JD-Jh
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  .aiv
  {
    background: #1C1C1C;
  }
  
  .ah .Jd-Je, .vN, .GW, .Bu, .IG, .GQ, .ads
  {
    background: #0A0A0A;
  }
  
  .aYe, .J-N-JT, .HM .iN
  {
    background: #0A0A0A !important;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
  }
  
  .J-Z-M-I-JW, .J-Z-I-JW, .J-Z-I, .J-Z-M-I, .J-Ks-KO, .T-I-ax7.T-I-JW, .g1, .ank, .anl, .mL, .ajR
  {
    filter: invert(100%);
    -webkit-filter: invert(100%;)
  }
  
  .J-Z-I-KO
  {
    background: #FAFAFA;
  }
  
  .J-N, .J-LC, .J-JK, .J-M
  {
    background: #161616;
    color: #FAFAFA;
  }
}